[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = personal blog
[access "refs/*"]
	owner = group user/Loki (lokiworks)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Loki (lokiworks)
	label-Verified = -1..+1 group user/Loki (lokiworks)
	push = group user/Loki (lokiworks)
	read = group user/Loki (lokiworks)
	rebase = group user/Loki (lokiworks)
	removeReviewer = group user/Loki (lokiworks)
	submit = group user/Loki (lokiworks)
[access "refs/heads/*"]
	create = group user/Loki (lokiworks)
	push = +force group user/Loki (lokiworks)
	pushMerge = group user/Loki (lokiworks)
	read = group user/Loki (lokiworks)
[access "refs/tags/*"]
	push = group user/Loki (lokiworks)
	push = +force group user/Loki (lokiworks)
